<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Models.DatabaseEntities.csdl|res://*/Models.DatabaseEntities.ssdl|res://*/Models.DatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=C:\MyWork\Project\Project\App_Data\Database.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>